<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<div id="pageB">
<div id="pagec">

<% @tweets.each do |a| %>
    <p>
        
        [メッセージ]
        <%= a.message %>
        [日時]
        <%= a.tdate %>
        
        <%= link_to '削除', "/tweets/#{a.id}", method: :delete %>
        <%= link_to '表示', "/tweets/#{a.id}" %>
        <%= link_to '編集', "/tweets/#{a.id}/edit" %>
        <%= image_tag'c.png'%>
    </p>
<% end %>

</div>
</div>


